* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	background-color: hsl(0, 0%, 95%);
}
main {
	display: flex;
	margin: auto;
	width: 50%;
	justify-content: center;
	align-items: center;
	height: 100vh;
	cursor: pointer;
}
div {
	display: flex;
}
section {
	padding: 30px;
}
h3 {
	color: hsl(0, 0%, 95%);
	font-size: 15px;
	padding-bottom: 25px;
	padding-top: 25px;
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 700px;
	font-size: 20px;
}
p {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400px;
	padding-bottom: 25px;
	font-size: 12px;
}
#sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#suv {
	background-color: hsl(184, 100%, 22%);
}
#luxury {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
button {
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    border: none;
    padding: 6px 11px;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
}
#sedan button {
   color: hsl(31, 77%, 52%);
}
#suv button {
	color: hsl(184, 100%, 22%);
	
}
#luxury button {
	color: hsl(179, 100%, 13%);
}